input[type=checkbox]
{
  transform: scale(1.5);
}

label{
  padding-left: 10px;
}

.yCheck_box{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.yCheckbox_header{
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}