.abody{
  font-family: roboto,arial,san-serif;
}
.anavbar{
    width:100%;
    border:1px solid black;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    top:0;
    height:80px;
  }
