.yHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
  }

  
  .yHeader__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
  }
  
  .yHeader__right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
  }

  
  .yInner_right{
      box-shadow: #00000005 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      width: 80px;
      align-items: center;
      padding: 2%;
  }