.yHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
    padding-left:4%;
    padding-right:4%;
    border-bottom: 1px solid rgb(243, 236, 236);
    margin-bottom: 20px;
  }

  
  .yHeader__icon {
    object-fit: contain;
    height: 80px;
    margin-left: 20px;
  }
  
  .yHeader__right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    font-size: 14px;
    font-weight: 500;
  }

  
  .a_hamburger{
    margin-top:7px;
    width:100%;
    height:73%;
    border-radius: 30px;
    background-color: white;
    border:1px solid transparent;
    display: flex;
    color:black;
    border:1px solid rgb(204, 195, 195);
    }