/* navbar */


.a_upper_header{
padding-top:12px;
padding-bottom: 10px;
width:88%;
margin: auto;
/* border:1px solid white; */
color:white;
display: flex;
justify-content: space-between;
}


/* landingpage */
.ablack{
    color:white;
    background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0,0,0, .4)), 
    url('https://htmlcolorcodes.com/assets/images/colors/black-color-solid-background-1920x1080.png');
    height: 165vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border:1px solid transparent;
    margin:auto;

}
.ared{
  background-color: #ff385c;
  width:88%;
  margin:auto;
  margin-top:17%;
  border-radius: 10px;
  height:350px;
  
  text-align: center;
  border:1px solid transparent;
}
.ared_text{
  margin-top:6%;
  border:1px solid transparent;
}
.ahelp{
  font-size:38px;
  font-weight:550;
}
.alearnmore{
  background-color: transparent;
  border:1px solid white;
  border-radius: 5px;
  color:white;
  font-size:13px ;
  padding-left:20px;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ahome{
  height:580px;
  width:88%;
  margin:auto;
  margin-top:8%;
  border-radius: 10px;
  background-size: 100% 100%;
  text-align: center;
  background-image: url("https://a0.muscache.com/im/pictures/8aa32150-e831-40aa-98f5-b743b44c6b27.jpg?im_w=1920");
}
.a_home_text{
  font-size:38px;
  font-weight:550;
  margin-bottom: 3%;
}
.a_home_text_container{
  padding-top: 30%;
}
.aflexible{
  border-radius:30px;
  padding-left:24px;
  padding-right:24px;
  border:1px solid transparent;
  background-color: white;
  width:10%;
  margin: auto;

}
#aflextext{
  background: linear-gradient(to right, #6b0b53 0%, #d35ca1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 18px;
  margin-top: 17px;
  margin-bottom: 17px

}
.ainspiration{
  margin-top: 30%;
  margin-left: 6%;
  font-size: 32px;
  font-weight: 600;
}
.places_card_container{
  width:100%;
  /* border:1px solid black; */
  /* overflow-x: scroll; */
}
.aplaces_cards{
  display: flex;
  width:88%;
  /* width:1200px; */
  /* overflow-x: scroll; */
  /* border:1px solid black; */
  margin:auto;
  gap:3%;
}
.place_individual_card{
  width:23%;
}
.a_scenery_image{
  border-top-right-radius: 10px;
  border-top-left-radius:10px ;
}
.a_card_color{
  padding-bottom: 40%;
  margin-top: -13%;
  height:70px;
  color:white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px ;
}
.a_places_title{
  font-size: 28px;
  font-weight: 500;
  margin-left: 5%;
  padding-top: 20px;
}
.a_place_distance{
  margin-left: 5%;
  margin-top: -10%;
}
.adiscover{
    margin-top: 5%;
    margin-left: 6%;
    font-size: 32px;
    font-weight: 600;
  }
.a_discover_images{
    display: flex;
    width:88%;
    gap:2%;
    margin:auto;
}
.a_image_left{
    border-radius: 10px;
    width:99%;
    height:540px;
    color:white;
    background-size: 100% 100%;
    background-image: url("https://a0.muscache.com/im/pictures/0dcae177-2f65-4a15-b9e8-75d8c9b3cbe8.jpg?im_w=960");
}
.a_image_right{
    border-radius: 10px;
    width:99%;
    height:540px;
    color:white;
    background-size: 100% 100%;
    background-image: url("https://a0.muscache.com/im/pictures/4cef99fa-068f-4197-8b1d-e8e04ac0ceaf.jpg?im_w=960");
}
.a_discover_title{
    font-size:40px;
    font-weight:500;
    margin-right:43%;
    margin-left: 7%;
}
.a_discover_button{
    margin-left: 7%;
    background-color: white;
    padding:14px;
    padding-left:18px;
    padding-right:18px;
    border:1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color:rgb(61, 59, 59)
}
.a_last_woman_image{
    margin-top: 8%;
    width:100%;
    height:590px;
}
.a_hosting_image{
    width:100%;
    height:100%;
    background-size: 100% 100%;
    background-image: url("https://a0.muscache.com/im/pictures/83f0dc6f-9290-46f6-9db5-339d525b44d1.jpg?im_w=1920");
}
.a_questions_hosting{
    font-size:75px;
    font-weight:500;
    margin-right:60%;
    margin-left: 7%;
    color:white;
    line-height:85px;
    padding-top:60px;
}
.a_superhost_button{
    margin-left: 7%;
    background-color: white;
    padding:15px;
    padding-left:19px;
    padding-right:19px;
    border:1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color:rgb(34, 33, 33);
    margin-top: 6%;
    cursor:pointer;
}
