.d_alpaBody {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.d_body {
  border-top: 1px solid #dddddd;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  font-family: "Roboto", sans-serif;
}

.d_rating_info {
  display: flex;
  gap: 1%;
}

.d_rating_info > p {
  margin-top: 2%;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}

.icon {
  color: tomato;
  margin-top: 2.3%;
}

.d_roomInfo {
  display: flex;
  border: solid 1px transparent;
  width: 90%;
  gap: 3%;
  height: 150px;
}

.d_rating_info1 {
  /* border: red 1px dotted; */
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
}

.d_myInfo > p {
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

.d_myInfo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.forbars {
  width: 100%;
  display: grid;
  grid-template-columns: 72% 20%;
  grid-gap: 30px;
}

.bars1 {
  margin-top: 19%;
  width: 100%;
  height: 9%;
  border-radius: 8px;
  margin-bottom: 0%;
  margin-left: 5%;
  background-color: #c3c3c3;
}
.bars1 > div {
  border: black 2px solid;
  border-radius: 8px;
  width: 95%;
}

.bars2 {
  margin-top: 19%;
  width: 100%;
  height: 9%;
  border-radius: 8px;
  margin-bottom: 0%;
  margin-left: 5%;
  background-color: #c3c3c3;
}
.div2 {
  border: black 2px solid;
  border-radius: 8px;
  width: 100%;
}

.div2_2 {
  border: black 2px solid;
  border-radius: 8px;
  width: 86%;
}

.bars3 {
  margin-top: 20%;
  width: 100%;
  height: 10%;
  border-radius: 8px;
  margin-bottom: 0%;
  margin-left: 5%;
  background-color: #c3c3c3;
}
.bars3 > div {
  border: black 2px solid;
  border-radius: 8px;
  width: 100%;
}

.d_omg {
  /* border: 1px solid black; */
  margin-top: 50%;
}
.d_omg1 {
  /* border: 1px solid black; */
  margin-top: 45%;
  margin-bottom: 10%;
}

.d_omg2 {
  /* border: 1px solid black; */
  margin-top: 49%;
}

.d_rating_info2 {
  /* border: yellow 1px dotted; */
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
}

/* this the comments part */
.d_comments {
  width: 100%;
  height: 820px;
  border: 1px solid transparent;
}
.d_nameComments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10%;
}

.d_btn {
  background-color: white;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 20%;
  left: 2%;
  font-size: 17px;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 8px;
  border: 0.5px solid black;
}

.d_btn:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: #e7e5e5;
}

.d_imgName {
  display: flex;
}

.d_img {
  margin: 2%;
}
.d_img > img {
  width: 100%;
  border-radius: 50%;
}

.d_myName {
  width: 30%;
  height: 5%;
  margin-top: 3%;
}

.d_myName > h4 {
  margin: 0%;
  font-weight: lighter;
}
.d_myName > span {
  color: #a8a9ad;
  font-size: 13px;
}

.d_dis {
  padding: 2%;
  line-height: 130%;
  margin-bottom: 0px;
  margin-top: 0%;
}

.d_nameBox > p {
  padding: 0% 2%;
  text-decoration: underline;
  cursor: pointer;
}

/* The host area */
.d_host {
  width: 100%;
  border-top: 1px solid gray;
  height: 400px;
  margin-top: 4%;
}
.d_hostImg {
  display: flex;
  height: 20%;
  margin: 2%;
}
.d_hostImg > img {
  border-radius: 50%;
}
.d_hostName {
  width: 70%;
  border: solid 1px transparent;
  padding: 0% 1%;
}
.d_hostName > h2 {
  margin-bottom: 0.5%;
}

.d_hostName > span {
  color: #6d6d6d;
  font-size: 14px;
}

.d_hostInfo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 5%;
}
.d_hostIcons {
  width: 100%;
  display: flex;
  gap: 5%;
  padding: 0% 2%;
}
.d_hostIcons > div {
  /* border: 1px solid green; */
  width: 50%;
}
.d_star {
  margin-left: 5%;
  margin-right: 5%;
  color: #ff385c;
}

.d_star2 {
  margin-right: 5%;
  color: #ff385c;
}

.d_hostDis {
  padding: 3%;
}
.d_hostDis > p {
  margin-bottom: 0%;
}
.d_a {
  color: black;
  font-weight: bold;
}

.d_hostRate {
  padding: 0% 10%;
}

.d_hostRate > p {
  margin: 0%;
  margin-bottom: 5%;
}

.d_ratebtn {
  position: relative;
  top: 8%;
  left: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
  padding: 3%;
}

.d_ratebtn:hover {
  cursor: pointer;
  background-color: #d3d3d3;
  text-decoration: underline;
}

.d_hostRatingInfo {
  width: 70%;
  display: flex;
  position: relative;
  top: 15%;
  left: 10%;
}

.d_hostIconsDis {
  font-size: 12px;
  margin-left: 10%;
}

.d_hostIcons2 {
  height: 80%;
  margin-right: 3%;
  color: orange;
}

/* Things to know Part */

.d_toKnow {
  border-top: 1px solid gray;
  margin-top: 1%;
}

.d_toKnowInfo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px; */
}
.d_toKnowInfo > div {
  border: 1px solid transparent;
}

.d_toKnowInfo_Sub1 {
  padding: 2% 3%;
}
.d_toKnowInfo_Sub1 > p {
  text-decoration: underline;
  cursor: pointer;
}

.d_toKnowInfo_bull {
  list-style-type: none;
  line-height: 240%;
  position: relative;
  right: 11%;
  font-size: 14px;
}
.d_toKnowInfo_Sub2 {
  padding: 2% 3%;
}
.d_toKnowInfo_Sub2 > p {
  text-decoration: underline;
  cursor: pointer;
}

.d_footer {
  width: 100%;
  height: 300px;
  border-top: 1px solid rgb(172, 172, 172);
  border-bottom: 1px solid rgb(172, 172, 172);
  background-color: whitesmoke;
}

.d_footer_header {
  margin: 3% 6%;
  font-weight: 400;
}

.d_footer_body {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 10px;
  margin-left: 6%;
  margin-bottom: 2%;
}

.d_footer_body > div > p {
  color: gray;
}

.d_footerFinal {
  margin-left: 6%;
  font-size: 14px;
  margin-bottom: 5%;
}

/* the top part */
.d_reactBody {
  width: 80%;
  margin: auto;
}

.d_reactTitle {
  border: 1px solid transparent;
  height: 90px;
  margin-bottom: 2%;
}

.d_mainImg {
  height: 300px;
  /* border: 1px solid red; */
  border-radius: 10px;
  display: flex;
  gap: 10px;
}
.d_class_name1>img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.d_class_name1>img:hover{
    background-color: black;
    cursor: pointer;
}
.d_class_name1{
    width: 50%;
    height: 100%;
    /* border: 1px solid yellow; */
}
.d_class_name2{
    display: grid;
    /* border:1px solid blue; */
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 145px);
    grid-gap: 10px;
}

.d_class_name2 > div > img{
    width: 100%;
    height: 100%;
}
.d_class_name2 > div > img:hover {
    background-color: black;
    cursor: pointer;
}
.d_reactDes {
  display: flex;
  width: 100%;
  height: auto;
  /* border: 1px solid green; */
}
.d_class_name21 > img{
    border-top-right-radius: 10px;
}
.d_class_name22 > img{
    border-bottom-right-radius: 10px;
}

.d_reactDes > div {
  /* border: 1px solid black; */
  gap: 20px;
}

.d_leftDes {
  width: 70%;
}

.d_rightDes {
  /* position: fixed; */
  width: 28%;
  border-radius: 10px;
  height: 400px;
  padding: 2% 2%;
  margin-left: 4.5%;
  margin-top: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.d_leftInfo {
  border-top: 1px solid gray;
  height: 15%;
}
.d_leftLoc {
  display: flex;
  margin: auto;
  height: 50%;
}
.d_leftIcon {
  /* border: 1px solid red; */
  padding: 2% 2%;
}
.d_leftName {
  padding: 2% 0%;
}
.d_leftName > span {
  margin: 10% 0%;
  font-weight: bold;
}
.d_leftp {
  margin-top: 0.5%;
  font-size: 15px;
  color: #a8a9ad;
}
.d_hotelInfo {
  border-top: 1px solid rgb(184, 184, 184);
  margin-top: 4%;
  padding: 3%;
  line-height: 170%;
  font-size: 15px;
}
.d_showMoreIcon {
  text-decoration: underline;
}
.d_bedRoom {
  border-top: #a8a9ad 1px solid;
}
.d_bedRoom > h2 {
  font-size: 20px;
  margin-top: 6%;
}
.d_bedRoomIcon {
  width: 25%;
  border: 1px solid #a8a9ad;
  border-radius: 10px;
  padding: 1% 2%;
}

.d_moreDetails {
  display: flex;
}
.d_moreDetails > div {
  width: 50%;
  /* border: solid 1px green */
}
.d_moreDetailsIcons {
  margin-right: 8%;
}
.d_moreDetailsIcons1 {
  margin-right: 8%;
}
.d_moreDetails1 {
  text-decoration: line-through;
}
.d_reactPlace {
  border-top: #a8a9ad 1px solid;
  margin-top: 8%;
}
.d_reactPlace > h2 {
  font-size: 20px;
  margin-top: 5%;
}

.d_moreDetails_btn {
  font-size: 15px;
  padding: 2%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  margin-top: 2%;
}

.d_moreDetails_btn:hover {
  text-decoration: underline;
  background-color: #cecece;
}

/* For the title part */
.d_reactTitle1 {
  height: 70%;
  border: transparent 1px solid;
}
.d_reactTitle2 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.d_reactTitle2_icon {
  color: tomato;
}
.d_titleSpacing {
  display: flex;
}
.d_titleSpacing > p {
  margin: 0%;
  font-size: 14px;
}
.d_titleSpacing2 {
  text-decoration: underline;
  font-size: 14px;
}
.d_reactSharebtn {
  font-size: 13px;
  background-color: white;
  border: none;
}
.d_reactSharebtn:hover {
  background-color: #e4e4e4;
  text-decoration: underline;
  cursor: pointer;
}

.d_desbelow {
  width: 100%;
  height: 7%;
  margin-bottom: 3%;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
}

.d_desbelowDetails1 {
  margin-bottom: 0px;
}
.d_desbelowDetails2 {
  margin-top: 1%;
}
.d_desImg1 {
  /* border: 1px solid red; */
  width: 10%;
  height: 90%;
  border-radius: 50%;
  margin-top: 0.5%;
  margin-right: 3%;
}

.d_desImg1 > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.d_rightDesTitle {
  display: flex;
  border: 1px solid transparent;
}
/* .d_rightDesTitle1 > h3{
    margin-left: 1%;
} */
.d_rightDesTitle2 {
  margin-top: 8%;
  /* color: #d3d3d3; */
  font-size: 15px;
  margin-left: 1%;
}
.d_iconRightDes {
  margin-left: 10%;
  margin-top: 2%;
}
.d_revRightDes {
  margin-left: 2%;
  margin-top: 2%;
  text-decoration: underline;
}
.d_rightDate {
  width: 100%;
  /* border: 1px solid rgb(216, 214, 214); */
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
}
.d_rightDate1 {
  grid-area: a;
  border: 1px solid rgb(216, 214, 214);
  font-size: 12px;
  border-top-left-radius: 10px;
}
.d_rightDate1_style {
  margin-top: 10%;
  margin-bottom: 2%;
  margin-left: 5%;
}
.d_rightDate1_p {
  margin-top: 0%;
  margin-left: 5%;
}
.d_rightDate2 {
  grid-area: b;
  border: 1px solid rgb(216, 214, 214);
  font-size: 12px;
  border-top-right-radius: 10px;
}
.d_rightDate3 {
  grid-area: c;
  border: 1px solid rgb(216, 214, 214);
  font-size: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.d_right_btn{
    width: 100%;
    /* border: #ff385c 1px solid; */
}
.d_rightReservebtn{
    width: 100%;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin-top: 8%;
    padding: 5%;
    background-color: #e41d57;
    cursor: pointer;
}

.d_rightBill{
    text-align: center;
}
.d_rightBill_p{
    font-size: 12px;
}

.d_rightmoney{
    display: flex;
    justify-content: space-between;
}
.d_rightmoney > p{
    font-size: 15px;
    margin: 1%;
}
.d_righttotal1{
    display: flex;
    justify-content:space-between;
    margin-top: 4%;
    border-top: #a8a9ad 1px solid;
    font-weight: bold;
    margin-bottom: 8%;
}