
.yFilters{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
}

.ySelected{
    color: black;
    text-decoration: underline;
}

.yFilter_types{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.yFarms{
    width: 12%;
}
.yFilter_types>div{
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-weight: 500;
}

.yFilter_buttons{
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    max-height: 200px;
}

.toggle_selected{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.yFilter_button{
    background-color: white;
    border: none;
    box-shadow: #00000005 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    font-size: 15px;
    
    display: flex;
    justify-content: space-around;
    width: 100px;
    align-items: center;
}


#nav-dropdown{
    color: grey;
}

.yToggle{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    background-color: #EBEBEB;
    border-radius: 20px;
    padding: 1%;
    margin-top: 20px;
}

.yDates{
    margin-top: 20px;
    text-align: center;
}

.yDate_buttons
{   
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.yCalendar_div{
    text-align: center;
    margin-top: 20px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
.yCalendars{
    display: flex;
    overflow-x: scroll;
}

.yCalendar{
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px ;
    padding-top: 20px;

    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}


.yPick_date{
    margin: auto;
    margin-top: 20px;
}
.box {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-grow: 1;
    margin-left: 60%;
    width: 60%;
}

.yFilter_header{
    margin-left: 45%;
}

.yPrice_range{
    font-weight: 500;
}

.yFilter_body{
    padding: 20px;
}

.yBody_content{
    display: flex;
    justify-content: space-between;
}

.yBody_content>div:nth-child(1){
    line-height: 10px;
}

.yBody_content>div:nth-child(1)>p:nth-child(1){
    font-weight: 450;
}

.yBody_content>div:nth-child(1)>p:nth-child(2){
    color: grey;
}



.my-modal{
    height: 500px;
    border-radius: 10px !important;
    overflow: scroll;
}

.yRooms{
    margin-top: 20px;
    color: grey;
}
.yRoom{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}


.yLinks{
    color: black;
}

