/* .travel_cont{
    width:100%;
    height:300px;
    border:1px solid black;
    display: flex;
}
.space{
    height:150px;
}
.travel_cont>div:nth-child(1){
    width:58%;
    margin-left: 2%;
    border:1px solid black;
}
.travel_cont>div>p:nth-child(1){
    color:rgb(69, 66, 66);
    font-size: 14px;
}
.a_stays{
    display: flex;
    border-bottom:1px solid rgb(209, 205, 205);
    padding-top:10px;
    padding-bottom: 10px;
}
.a_stays>img{
    margin-top: 5px;
}
.a_stays>p{
    color:rgb(69, 66, 66);
    font-size: 14px;
    padding-left: 4px;
} */




.yCard {
    margin: 10px;
    overflow: hidden;
    transition: transform 100ms ease-in;
    cursor: pointer;
    border-radius: 5%;
  }
    
    .yDisplay_img {
      border-radius: 5%;
      object-fit: fill;
      min-width: 300px;
      height: 300px;
      width: 100%;
    }
    
    .yCard_info {
        margin-top: -9px;
        padding-top: 20px;
        border: 1;
      }
    .yCard_info>div{
      display: flex;
      justify-content: space-between;
    }
  
    .yTitle{
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        width: 40%;
        display:inline-block;
  
        font-weight: 500;
    }
  
    img {
      image-rendering: auto;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
    
      /* Safari seems to support, but seems deprecated and does the same thing as the others. */
      image-rendering: -webkit-optimize-contrast;
    }  