#sthanks{
    height:400px;
    width:90%;
    /* border:1px solid red; */
    margin:auto;
    cursor:pointer;
}
#sbooking{
    height:80%;
    width:80%;
    /* border: 1px solid yellow; */
    margin: auto;
    margin-top: 5%;
    background-color: #ff385c;
    border-radius: 10px;
    padding-top: 1px;
    
}
#sconfir{
    font-size: 300%;
    font-weight: bolder;
    margin-left: 20%;
    font-style:oblique;
   
  
    margin-top: 8%;
   
}